In [73]:
import pandas as pd
import numpy as np
import datetime as dt

In [74]:
# Files to load
oct2019 = "Data/2019/JC-201910-citibike-tripdata.csv"
nov2019 = "Data/2019/JC-201911-citibike-tripdata.csv"
dec2019 = "Data/2019/JC-201912-citibike-tripdata.csv"

In [75]:
oct2019_df = pd.read_csv(oct2019)
nov2019_df = pd.read_csv(nov2019)
dec2019_df = pd.read_csv(dec2019)

In [76]:
oct2019_df.count()

tripduration               42253
starttime                  42253
stoptime                   42253
start station id           42253
start station name         42253
start station latitude     42253
start station longitude    42253
end station id             42253
end station name           42253
end station latitude       42253
end station longitude      42253
bikeid                     42253
usertype                   42253
birth year                 42253
gender                     42253
dtype: int64

In [77]:
nov2019_df.count()

tripduration               30797
starttime                  30797
stoptime                   30797
start station id           30797
start station name         30797
start station latitude     30797
start station longitude    30797
end station id             30797
end station name           30797
end station latitude       30797
end station longitude      30797
bikeid                     30797
usertype                   30797
birth year                 30797
gender                     30797
dtype: int64

In [78]:
dec2019_df.count()

tripduration               19728
starttime                  19728
stoptime                   19728
start station id           19728
start station name         19728
start station latitude     19728
start station longitude    19728
end station id             19728
end station name           19728
end station latitude       19728
end station longitude      19728
bikeid                     19728
usertype                   19728
birth year                 19728
gender                     19728
dtype: int64

In [79]:
# Combine All Three October DataFrames from 2018-2020 Into Single DataFrame
octnov_df = oct2019_df.append([nov2019_df], ignore_index=True)
octnov_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,892,2019-10-01 00:20:05.0140,2019-10-01 00:34:57.3800,3275,Columbus Drive,40.718355,-74.038914,3280,Astor Place,40.719282,-74.071262,29544,Subscriber,1976,1
1,374,2019-10-01 00:43:48.8790,2019-10-01 00:50:03.8190,3211,Newark Ave,40.721525,-74.046305,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,29536,Subscriber,1984,1
2,170,2019-10-01 01:35:51.8630,2019-10-01 01:38:42.5470,3194,McGinley Square,40.725340,-74.067622,3679,Bergen Ave,40.722104,-74.071455,26304,Subscriber,1986,1
3,946,2019-10-01 02:55:53.4000,2019-10-01 03:11:40.2710,3272,Jersey & 3rd,40.723332,-74.045953,3679,Bergen Ave,40.722104,-74.071455,29496,Customer,1969,0
4,517,2019-10-01 03:10:16.1290,2019-10-01 03:18:53.6350,3206,Hilltop,40.731169,-74.057574,3210,Pershing Field,40.742677,-74.051789,26205,Subscriber,1969,1

In [80]:
octnovdec_df = octnov_df.append([dec2019_df], ignore_index=True)
octnovdec_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,892,2019-10-01 00:20:05.0140,2019-10-01 00:34:57.3800,3275,Columbus Drive,40.718355,-74.038914,3280,Astor Place,40.719282,-74.071262,29544,Subscriber,1976,1
1,374,2019-10-01 00:43:48.8790,2019-10-01 00:50:03.8190,3211,Newark Ave,40.721525,-74.046305,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,29536,Subscriber,1984,1
2,170,2019-10-01 01:35:51.8630,2019-10-01 01:38:42.5470,3194,McGinley Square,40.725340,-74.067622,3679,Bergen Ave,40.722104,-74.071455,26304,Subscriber,1986,1
3,946,2019-10-01 02:55:53.4000,2019-10-01 03:11:40.2710,3272,Jersey & 3rd,40.723332,-74.045953,3679,Bergen Ave,40.722104,-74.071455,29496,Customer,1969,0
4,517,2019-10-01 03:10:16.1290,2019-10-01 03:18:53.6350,3206,Hilltop,40.731169,-74.057574,3210,Pershing Field,40.742677,-74.051789,26205,Subscriber,1969,1

In [81]:
BikeData_2019_df = octnovdec_df
BikeData_2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,892,2019-10-01 00:20:05.0140,2019-10-01 00:34:57.3800,3275,Columbus Drive,40.718355,-74.038914,3280,Astor Place,40.719282,-74.071262,29544,Subscriber,1976,1
1,374,2019-10-01 00:43:48.8790,2019-10-01 00:50:03.8190,3211,Newark Ave,40.721525,-74.046305,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,29536,Subscriber,1984,1
2,170,2019-10-01 01:35:51.8630,2019-10-01 01:38:42.5470,3194,McGinley Square,40.725340,-74.067622,3679,Bergen Ave,40.722104,-74.071455,26304,Subscriber,1986,1
3,946,2019-10-01 02:55:53.4000,2019-10-01 03:11:40.2710,3272,Jersey & 3rd,40.723332,-74.045953,3679,Bergen Ave,40.722104,-74.071455,29496,Customer,1969,0
4,517,2019-10-01 03:10:16.1290,2019-10-01 03:18:53.6350,3206,Hilltop,40.731169,-74.057574,3210,Pershing Field,40.742677,-74.051789,26205,Subscriber,1969,1

In [82]:
# Convert All DateTimes to "%Y-%m-%d %H:%M:%S" Format
BikeData_2019_df["starttime"] = pd.to_datetime(BikeData_2019_df["starttime"])
BikeData_2019_df["stoptime"] = pd.to_datetime(BikeData_2019_df["stoptime"])

In [83]:
Clean_BikeData_2019_df = BikeData_2019_df.drop(columns=['birth year', 'gender', 'bikeid','start station id','end station id'])

In [84]:
Clean_BikeData_2019_df['usertype'].replace('Subscriber','member',inplace = True)

In [85]:
Clean_BikeData_2019_df['usertype'].replace('Customer','casual',inplace = True)

In [86]:
Clean_BikeData_2019_df

,tripduration,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,usertype
0,892,2019-10-01 00:20:05.014,2019-10-01 00:34:57.380,Columbus Drive,40.718355,-74.038914,Astor Place,40.719282,-74.071262,member
1,374,2019-10-01 00:43:48.879,2019-10-01 00:50:03.819,Newark Ave,40.721525,-74.046305,Hoboken Ave at Monmouth St,40.735208,-74.046964,member
2,170,2019-10-01 01:35:51.863,2019-10-01 01:38:42.547,McGinley Square,40.725340,-74.067622,Bergen Ave,40.722104,-74.071455,member
3,946,2019-10-01 02:55:53.400,2019-10-01 03:11:40.271,Jersey & 3rd,40.723332,-74.045953,Bergen Ave,40.722104,-74.071455,casual
4,517,2019-10-01 03:10:16.129,2019-10-01 03:18:53.635,Hilltop,40.731169,-74.057574,Pershing Field,40.742677,-74.051789,member
...,...,...,...,...,...,...,...,...,...,...
92773,283,2019-12-31 23:12:18.548,2019-12-31 23:17:01.874,Sip Ave,40.730897,-74.063913,Bergen Ave,40.722104,-74.071455,casual
92774,267,2019-12-31 23:19:03.584,2019-12-31 23:23:30.664,Grove St PATH,40.719586,-74.043117,JC Medical Center,40.716540,-74.049638,member
92775,379,2019-12-31 23:19:06.583,2019-12-31 23:25:25.797,Brunswick St,40.724176,-74.050656,City Hall,40.717732,-74.043845,member
92776,188,2019-12-31 23:24:00.263,2019-12-31 23:27:09.040,Harborside,40.719252,-74.034234,Grove St PATH,40.719586,-74.043117,member
92777,326,2019-12-31 23:45:20.978,2019-12-31 23:50:47.749,Sip Ave,40.730897,-74.063913,Astor Place,40.719282,-74.071262,member

In [87]:
BikeData_2019_df.count()

tripduration               92778
starttime                  92778
stoptime                   92778
start station id           92778
start station name         92778
start station latitude     92778
start station longitude    92778
end station id             92778
end station name           92778
end station latitude       92778
end station longitude      92778
bikeid                     92778
usertype                   92778
birth year                 92778
gender                     92778
dtype: int64

In [88]:
Clean_BikeData_2019_df.count()

tripduration               92778
starttime                  92778
stoptime                   92778
start station name         92778
start station latitude     92778
start station longitude    92778
end station name           92778
end station latitude       92778
end station longitude      92778
usertype                   92778
dtype: int64

In [93]:
Clean_BikeData_2019_df.loc[Clean_BikeData_2019_df['end station longitude'] == -73.8217]

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start station name, start station latitude, start station longitude, end station name, end station latitude, end station longitude, usertype]
Index: []

In [89]:
Clean_BikeData_2019_df.to_csv("Source/Clean_BikeData_2019_df.csv", index=False, header=True)