In [9]:
import pandas as pd
import numpy as np
import datetime as dt

In [10]:
# Files to load
jan2020 = "Data/2020/JC-202001-citibike-tripdata.csv"
feb2020 = "Data/2020/JC-202002-citibike-tripdata.csv"
mar2020 = "Data/2020/JC-202003-citibike-tripdata.csv"
apr2020 = "Data/2020/JC-202004-citibike-tripdata.csv"
may2020 = "Data/2020/JC-202005-citibike-tripdata.csv"
jun2020 = "Data/2020/JC-202006-citibike-tripdata.csv"
jul2020 = "Data/2020/JC-202007-citibike-tripdata.csv"
aug2020 = "Data/2020/JC-202008-citibike-tripdata.csv"
sep2020 = "Data/2020/JC-202009-citibike-tripdata.csv"
oct2020 = "Data/2020/JC-202010-citibike-tripdata.csv"
nov2020 = "Data/2020/JC-202011-citibike-tripdata.csv"
dec2020 = "Data/2020/JC-202012-citibike-tripdata.csv"

In [11]:
jan2020_df = pd.read_csv(jan2020)
feb2020_df = pd.read_csv(feb2020)
mar2020_df = pd.read_csv(mar2020)
apr2020_df = pd.read_csv(apr2020)
may2020_df = pd.read_csv(may2020)
jun2020_df = pd.read_csv(jun2020)
jul2020_df = pd.read_csv(jul2020)
aug2020_df = pd.read_csv(aug2020)
sep2020_df = pd.read_csv(sep2020)
oct2020_df = pd.read_csv(oct2020)
nov2020_df = pd.read_csv(nov2020)
dec2020_df = pd.read_csv(dec2020)

In [12]:
janthrudec_df = jan2020_df.append([feb2020_df, mar2020_df, apr2020_df, may2020_df, jun2020_df, jul2020_df, aug2020_df, sep2020_df, oct2020_df, nov2020_df, dec2020_df], ignore_index=True)
janthrudec_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [13]:
janthrudec_df.count()

tripduration               336802
starttime                  336802
stoptime                   336802
start station id           336802
start station name         336802
start station latitude     336802
start station longitude    336802
end station id             336802
end station name           336802
end station latitude       336802
end station longitude      336802
bikeid                     336802
usertype                   336802
birth year                 336802
gender                     336802
dtype: int64

In [14]:
BikeData_2020_df = janthrudec_df
BikeData_2020_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [16]:
# Convert All DateTimes to "%Y-%m-%d %H:%M:%S" Format
BikeData_2020_df["starttime"] = pd.to_datetime(BikeData_2020_df["starttime"])
BikeData_2020_df["stoptime"] = pd.to_datetime(BikeData_2020_df["stoptime"])

In [17]:
Clean_BikeData_2020_df = BikeData_2020_df.drop(columns=['birth year', 'gender', 'bikeid'])

In [18]:
Clean_BikeData_2020_df.count()

tripduration               336802
starttime                  336802
stoptime                   336802
start station id           336802
start station name         336802
start station latitude     336802
start station longitude    336802
end station id             336802
end station name           336802
end station latitude       336802
end station longitude      336802
usertype                   336802
dtype: int64

In [ ]:
Clean_BikeData_2020_df.to_csv("Source/Clean_BikeData_2020_df.csv", index=False, header=True)